@import '~antd/dist/antd.css';

.App {
  background-color: whitesmoke;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
}

.App-header Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.results {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none; /* hides scroball for Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.Results::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

