.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
}
.App-header input {
  background-color: whitesmoke;
  min-height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
  outline: none;
}
.App-header button {
  min-height:40px ;
  width: 80px;
  cursor: pointer;
}

.results {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none; /* hides scroball for Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.Results::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.meme-wrap {
  display: inline-block;
  position:relative;
  cursor: pointer;
  margin: 3px;
}
.meme-wrap:hover:after {
  content:"🔗";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  color: rgb(187, 255, 255);
  background: rgba(0,0,0,0.5);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}